body{
    color: #333;
}

/* Header ===== */

.header{
    background-color: #0069D9;
    color: #ffffff;
    margin-bottom: 20px;
}

.navbar-brand, .navbar-brand:hover{
    font-size: 26px;
    font-weight: 600;
    color: white;
    margin: 0 auto;
}

/* Content ===== */

.btn-primary{
    border-width: 2px;
    transition: background-color 0.75s ease-in-out,
                color 0.75s ease-in-out,
                border-color 0.75s ease-in-out;
}

.btn-primary:hover{
    background-color: white;
    color: #0069D9;
    border-color: #0069D9;
}

.login-title{
    margin-bottom: 50px;
}

.form-login{
    margin: 0 auto;
    margin-top: 80px;
    width: 30%;
}

.button-login{
    margin-bottom: 20px;
}

#botao-panico{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #32db64;
    margin-top: 7px;
    border: solid;
    border-width: 3px;
    border-color: #222;
    transition: background-color 0.5s ease-in-out;
}

#botao-panico:hover, #botao-panico:focus{
    background-color: #f53d3d;
    outline:0;
}

.input-contato{
    width: 250px;
    margin-bottom: 10px;
}

.box-alerta{
    padding: 5px;
    margin: 5px;
    border: solid;
    border-radius: 7px;
}

.alerta-item a:link, .alerta-item a:visited{
    color: #333;
    text-decoration: none;
}

.lida{
    background-color: #32db64;
    transition: background-color 0.75s ease-in-out;
}
.lida:hover{
    background-color: #228B22;
    text-decoration: none;
}

.nao-lida{
    background-color: #e87e7e;
    transition: background-color 0.75s ease-in-out;
}
.nao-lida:hover{
    background-color: #f53d3d;
    text-decoration: none;
}

/* Footer ===== */